{% extends 'base.html'%}
{% block title %}Страны{% endblock %}
{% block content%}
{% for word in alphabet %}
<a href="?word={{ word }}"><button class="btn btn-info mb-4">{{ word }}</button></a>
{% endfor %}
<ol>
    {% for name in page_countries %}
    <div class = "mb-4"><li><a href="{% url 'country' name.country %}">{{ name.country }}</a></li></div>
    {% endfor %}
</ol>
<div class="pagination">
    <span class="step-links">
        {% if page_countries.has_previous %}
            {% if word == None %}
            <a href="?page=1"><button class="btn btn-info">&laquo; Первая</button></a>
            <a href="?page={{ page_countries.previous_page_number }}"><button class="btn btn-info">Назад</button></a>
            {% else %}
            <a href="?page=1&word={{ word }}"><button class="btn btn-info">&laquo; Первая</button></a>
            <a href="?page={{ page_countries.previous_page_number }}&word={{ word }}"><button class="btn btn-info">Назад</button></a>
            {% endif %}
        {% endif %}
        <span class="current">
            Страница {{ page_countries.number }} из {{ page_countries.paginator.num_pages }}.
        </span>


        {% if page_countries.has_next %}
            {% if word == None %}
        <a href="?page={{ page_countries.next_page_number }}"><button class="btn btn-info">Далее</button></a>
        <a href="?page={{ page_countries.paginator.num_pages }}"><button class="btn btn-info">Последняя &raquo;</button></a>
            {%else%}
        <a href="?page={{ page_countries.next_page_number }}&word={{ word }}"><button class="btn btn-info">Далее</button></a>
        <a href="?page={{ page_countries.paginator.num_pages }}&word={{ word }}"><button class="btn btn-info">Последняя &raquo;</button></a>
            {%endif%}
        {% endif %}
    </span>
</div>
{% endblock %}