{% extends 'base.html'%}
{% block title %}Страны{% endblock %}
{% block content%}
{% for word in alphabet %}
    <a href="?word={{ word }}">{{ word }}</a>
{% endfor %}
<ol>
    {% for name in page_countries %}
        <li><a href="{% url 'country' name %}">{{ name }}</a></li>
    {% endfor %}
</ol>
<div class="pagination">
    <span class="step-links">
        {% if page_countries.has_previous %}
            <a href="?page=1&word={{ word }}">&laquo; Первая</a>
            <a href="?page={{ page_countries.previous_page_number }}&word={{ word }}">Назад</a>
        {% endif %}
        <span class="current">
            Страница {{ page_countries.number }} из {{ page_countries.paginator.num_pages }}.
        </span>


        {% if page_countries.has_next %}
            <a href="?page={{ page_countries.next_page_number }}&word={{ word }}">Далее</a>
            <a href="?page={{ page_countries.paginator.num_pages }}&word={{ word }}">Последняя &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}